<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col--6">
            <ul class="nav text d-flex justify-content-start">
                <li class="nav-item">
                    <a class="nav-link active text" href="#">Home</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="nav justify-content-around">
                <li class="">
                  <a class="nav-link active text " href="#">Any%</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text" href="#">100%</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text" href="#"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text" href="#">Disabled</a>
                </li>
              </ul>
        </div>
    </div>
</div>
